body {
    padding: 10px;
}

#listing_container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

button {
    border-radius: 12px;
    background-color:chocolate;
    color: white;
}

table {
    margin-top: 10px;
}

