{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlists</h2>
   
    {% for listing in listings %}
        <table style="width: 1000px; border-top: 1px solid black" >
            <tr>
                <td><a href="{% url 'listingpage' listing.id %}">{{ listing.title }}</a>
                    <form action="{% url 'watchlistremove' %}" method="post" >
                        {% csrf_token %} 
                        <button name="watchlisting" type="submit" value="{{ listing.id }}" >Remove from watchlist</button>
                    </form>
                </td>
            </tr>
        </table>
        <tr>
            <td>
                <h6>Created on {{ listing.date }}</h6>
            </td>
        </tr>
    {% endfor %}
    
{% endblock %}